body {
    margin: 20px;
    font-family: sans-serif, Verdana, Geneva, Tahoma;
}

.avatar {
    width: 150px;
    border-radius: 50px
}

.card {
    border-radius: 10px;
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: lightblue;
    color: #2b2839;
    border-bottom: 6px solid black;
}
.shadow {
        box-shadow: 5px 5px 5px
    }

.border-blue {
    border: 1px dotted blue;
}